.modal {
	position: fixed;
	inset: 0;
	background-color: color-mix(in srgb, var(--color-neutral-900) 90%, transparent);
	z-index: 100;
	display: grid;
	place-items: center;
	touch-action: pinch-zoom;
}
.image {
	margin-inline: auto;
	max-height: 95vh;
	max-width: 95vw;
	width: auto;
	height: auto;
	object-fit: contain;
}
.button {
	all: unset;
	position: absolute;
	cursor: pointer;
	color: var(--color-neutral-100);
	padding: 2rem;
}
.button:focus-visible {
	outline: 3px solid var(--color-accent);
	outline-offset: 2px;
}
.button.close {
	top: 0;
	right: 0;
}
.button.next {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 100vh;
	height: 100dvh;
	padding-left: 3rem;
}
.button.previous {
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 100vh;
	height: 100dvh;
	padding-right: 3rem;
}
.visuallyHidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
