.wrapper {
	--content-padding-inline: 1.3rem;
	--content-padding-block: 0.8rem;
	--content-gap: 0.8rem;
	--text-width: 60ch;

	--content-box-width: min(95%, calc(var(--text-width) + var(--content-padding-inline) * 2));

	display: grid;
	place-items: center;
	gap: 6rem;
}
.header {
	width: var(--content-box-width);
	margin-top: 5rem;
}
.content {
	width: var(--content-box-width);
}
.footer {
	width: var(--content-box-width);
}

@media (min-width: 768px) {
	.wrapper {
		--content-padding-inline: 2.5rem;
		--content-padding-block: 1.5rem;
		--content-gap: 2rem;
	}
	.header {
		margin-top: 10rem;
	}
}
