@import url("_reset.css");

:root {
	/* Colors */
	--color-neutral-100: hsla(20, 100%, 99%, 1);
	--color-neutral-200: hsla(28, 21%, 86%, 1);
	--color-neutral-300: hsla(28, 12%, 75%, 1);
	--color-neutral-400: hsla(25, 9%, 63%, 1);
	--color-neutral-500: hsla(25, 7%, 52%, 1);
	--color-neutral-600: hsla(25, 9%, 41%, 1);
	--color-neutral-700: hsla(27, 14%, 29%, 1);
	--color-neutral-800: hsla(23, 23%, 18%, 1);
	--color-neutral-900: hsla(25, 69%, 6%, 1);
	--color-accent: hsla(121, 32%, 41%, 1);

	/* Length */
	--gold: 1.618;
	--base-length: 16px;
	--xs: calc(var(--base-length) / var(--gold) / var(--gold));
	--sm: calc(var(--base-length) / var(--gold));
	--md: var(--base-length);
	--lg: calc(var(--base-length) * var(--gold));
	--xl: calc(var(--base-length) * var(--gold) * var(--gold));
	--2xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold));
	--3xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold) * var(--gold));
	--4xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold) * var(--gold) * var(--gold));
}

body {
	font-family: var(--font-sriracha);
	color: var(--color-neutral-900);
	background-color: var(--color-neutral-100);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
