@import url("_reset.css");
@import url("_entryAnimation.css");

:root {
	/* Colors */
	--color-neutral-100: hsla(20, 100%, 99%, 1);
	--color-neutral-200: hsla(28, 21%, 86%, 1);
	--color-neutral-300: hsla(28, 12%, 75%, 1);
	--color-neutral-400: hsla(25, 9%, 63%, 1);
	--color-neutral-500: hsla(25, 7%, 52%, 1);
	--color-neutral-600: hsla(25, 9%, 41%, 1);
	--color-neutral-700: hsla(27, 14%, 29%, 1);
	--color-neutral-800: hsla(23, 23%, 18%, 1);
	--color-neutral-900: hsla(25, 69%, 6%, 1);
	--color-accent: hsla(121, 32%, 41%, 1);

	/* Font size */
	/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--font-size--2: clamp(0.5628rem, 0.6232rem + -0.078vw, 0.6076rem);
	--font-size--1: clamp(0.7292rem, 0.7219rem + 0.0366vw, 0.7502rem);
	--font-size-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
	--font-size-1: clamp(1.05rem, 0.9516rem + 0.4922vw, 1.333rem);
	--font-size-2: clamp(1.26rem, 1.0802rem + 0.8989vw, 1.7769rem);
	--font-size-3: clamp(1.512rem, 1.2141rem + 1.4897vw, 2.3686rem);
	--font-size-4: clamp(1.8144rem, 1.3473rem + 2.3355vw, 3.1573rem);
	--font-size-5: clamp(2.1773rem, 1.4707rem + 3.533vw, 4.2087rem);
	--font-size-6: clamp(2.6127rem, 1.584rem + 7vw, 8rem);

	/* Length */
	--gold: 1.618;
	--base-length: 16px;
	--xs: calc(var(--base-length) / var(--gold) / var(--gold));
	--sm: calc(var(--base-length) / var(--gold));
	--md: var(--base-length);
	--lg: calc(var(--base-length) * var(--gold));
	--xl: calc(var(--base-length) * var(--gold) * var(--gold));
	--2xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold));
	--3xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold) * var(--gold));
	--4xl: calc(var(--base-length) * var(--gold) * var(--gold) * var(--gold) * var(--gold) * var(--gold));
}

body {
	font-family: var(--font-sriracha);
	color: var(--color-neutral-900);
	background-color: var(--color-neutral-100);
	font-size: var(--font-size-0);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.no-scroll {
	overflow: hidden;
}
