.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.indicator {
	position: absolute;
	top: 10%;

	background-color: var(--color-neutral-100);
	padding: 1em 1.5em;
	border: solid var(--color-neutral-900);
}
.indicator.previous {
	left: -2em;
	border-width: 2px 3px 4px 2px;
	border-radius: 10% 15% 8% 12%/11% 10% 6% 11%;
}
.indicator.next {
	right: -2em;
	border-width: 2px 3px 3px 2px;
	border-radius: 15% 10% 12% 8%/10% 11% 11% 6%;
}
