.section {
	display: grid;
	place-items: center;
	gap: 3rem;
}
.title {
	font-size: 5rem;
	margin-bottom: 5rem;
}
.link {
	display: block;
	width: 300px;
	border: 1px solid var(--color-neutral-900);
	box-shadow: 0 0 10px 0 var(--color-neutral-900);
	padding: 7px;
	background-color: var(--color-neutral-100);
}
.cardImage {
	aspect-ratio: 1;
	object-fit: cover;
	width: 100%;
	height: auto;
	margin-bottom: 7px;
}
.cardTitle {
	font-size: 1.3rem;
	font-weight: 500;
}
.cardSubTitle {
	font-size: 1rem;
	color: var(--color-neutral-600);
	text-transform: capitalize;
}
