.section {
	--picture-shift: 75px;
	width: 100%;
	max-width: 900px;
	padding-bottom: var(--picture-shift);
}
.list {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	row-gap: 2rem;
	column-gap: 0.5rem;
}
.postWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.list {
		grid-template-columns: 1fr 1fr;
	}
	.postWrapper:nth-child(2n) .post {
		position: relative;
		top: var(--picture-shift);
	}
}
